<div id="data">
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="text-center modal-title">Enter Date Of Birth</h4>
        </div>
        <div class="text-center modal-body">
          <p>
            <input type="date" id="myDate" value="" autofocus>
            <button onclick="myFunction()">Submit</button>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="age">
  <div class="">
    <h1 class="text-center text-danger active">Welcome to FIESTA LIQUOR</h1>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
      <li data-target="#myCarousel" data-slide-to="6"></li>
      <li data-target="#myCarousel" data-slide-to="7"></li>
      <li data-target="#myCarousel" data-slide-to="8"></li>
      <li data-target="#myCarousel" data-slide-to="9"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item active">
        <%= image_tag "https://s3.amazonaws.com/fiestaliquors/IMG_2854.JPG", size: "460x345", alt: 'Fiesta Liquor Name Board', class: 'img img-responsive img-rounded' %>
        <div class="carousel-caption">
          <h3>Fiesta Liquor</h3>
          <p>#1 place to get liquor in San Antonio</p>
        </div>
      </div>

      <div class="item">
        <%= image_tag "https://s3.amazonaws.com/fiestaliquors/IMG_2855.JPG", size: "460x345", alt: 'Fiesta Liquor Parking Lot', class: 'img img-responsive img-rounded' %>
        <div class="carousel-caption">
          <h3>Large collection</h3>
          <p>The largest collection of various imported liquor</p>
        </div>
      </div>
    
      <div class="item">
        <%= image_tag "https://s3.amazonaws.com/fiestaliquors/IMG_2853.JPG", size: "460x345", alt: 'Inside the store1', class: 'img img-responsive img-rounded' %>
        <div class="carousel-caption">
          <h3>Subscribe</h3>
          <p>Get subscribed to get promotions and special offers</p>
        </div>
      </div>

      <div class="item">
        <%= image_tag "https://s3.amazonaws.com/fiestaliquors/IMG_2852.JPG", size: "460x345", alt: 'Inside the store2', class: 'img img-responsive img-rounded' %>
        <div class="carousel-caption">
          <h3>Chat</h3>
          <p>Chat with the representative to get helped</p>
        </div>
      </div>

      <div class="item">
        <%= image_tag "https://s3.amazonaws.com/fiestaliquors/IMG_2851.JPG", size: "460x345", alt: 'Inside the store3', class: 'img img-responsive img-rounded' %>
        <div class="carousel-caption">
          <h3>Price</h3>
          <p>Get the quote of the liqour you want to buy</p>
        </div>
      </div>

      <div class="item">
        <%= image_tag "https://s3.amazonaws.com/fiestaliquors/IMG_0185.JPG", size: "460x345", alt: 'Inside the store3', class: 'img img-responsive img-rounded' %>
        <div class="carousel-caption">
          <h3>Price</h3>
          <p>Get the quote of the liqour you want to buy</p>
        </div>
      </div>

      <div class="item">
        <%= image_tag "https://s3.amazonaws.com/fiestaliquors/IMG_0186.JPG", size: "460x345", alt: 'Inside the store3', class: 'img img-responsive img-rounded' %>
        <div class="carousel-caption">
          <h3>Price</h3>
          <p>Get the quote of the liqour you want to buy</p>
        </div>
      </div>

      <div class="item">
        <%= image_tag "https://s3.amazonaws.com/fiestaliquors/IMG_0187.JPG", size: "460x345", alt: 'Inside the store3', class: 'img img-responsive img-rounded' %>
        <div class="carousel-caption">
          <h3>Price</h3>
          <p>Get the quote of the liqour you want to buy</p>
        </div>
      </div>

      <div class="item">
        <%= image_tag "https://s3.amazonaws.com/fiestaliquors/IMG_0188.JPG", size: "460x345", alt: 'Inside the store3', class: 'img img-responsive img-rounded' %>
        <div class="carousel-caption">
          <h3>Price</h3>
          <p>Get the quote of the liqour you want to buy</p>
        </div>
      </div>

      <div class="item">
        <%= image_tag "https://s3.amazonaws.com/fiestaliquors/IMG_0189.JPG", size: "460x345", alt: 'Inside the store3', class: 'img img-responsive img-rounded' %>
        <div class="carousel-caption">
          <h3>Price</h3>
          <p>Get the quote of the liqour you want to buy</p>
        </div>
      </div>
  
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <br>

</div>

<script type="text/javascript" async="async" defer="defer" data-cfasync="false" src="https://mylivechat.com/chatinline.aspx?hccid=46029464"></script>
</div>
<script>
  $('#myModal').modal('show');
  document.getElementById('age').style.display = 'none';
  function myFunction() {
      dateOfBirth = document.getElementById("myDate").value;
      dateOfBirth = new Date(dateOfBirth);
      birth_month = dateOfBirth.getMonth();
      birth_day = dateOfBirth.getDate();
      birth_year = dateOfBirth.getFullYear();
      function calculate_age(birth_month,birth_day,birth_year) {
        today_date = new Date();
        today_year = today_date.getFullYear();
        today_month = today_date.getMonth();
        today_day = today_date.getDate();
        age = today_year - birth_year;
        if ( today_month < birth_month)
        {
            age--;
        }
        if ((birth_month == today_month) && (today_day <= birth_day + 1))
        {
            age--;
        }
        return age;
      };
      var years = calculate_age(birth_month,birth_day,birth_year);
      if (years >= 21) {
        $('#myModal').modal('hide');
        document.getElementById('age').style.display = 'block';
      }
  };
</script>
